@{ 
    string content = ViewBag.Description;
    if (string.IsNullOrEmpty(content))
    {
        content = "Website bán sản phẩm công nghệ, bàn phím và các loại keycap, switch...";
    }
    else if (content.Length > 100)
    {
        content = content.Substring(0, 100) + "...";
    }
    Session["listCart"] = Session["listCart"] == null ? new List<Cart>() : Session["listCart"];
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="~/Content/images/favicon/2.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/images/favicon/2.png" />
    <meta name="theme-color" content="#e22454" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Voxo" />
    <meta name="msapplication-TileImage" content="~/Content/images/favicon/2.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@content" />
    <link rel="icon" href="~/Content/images/favicon/2.png" type="image/x-icon" />
    <title>@ViewBag.Title - KeyMax</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/Content/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendors/feather-icon.css">

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendors/animate.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendors/slick/slick-theme.css">

    <!-- Theme css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/Content/css/demo2.css">

</head>

<body class="theme-color2 light ltr">

    <!-- header start -->
    <header class="header-style-2" id="home">
        <div class="main-header navbar-searchbar">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-menu">
                            <div class="menu-left">
                                <div class="brand-logo">
                                    <a href="~/Home">
                                        <svg class="svg-icon">
                                            <use class="fill-color" xlink:href="~/Content/svg/icons.svg#logo"></use>
                                        </svg>
                                        <img src="~/Content/images/logo.png" class="img-fluid blur-up lazyload" alt="logo" />
                                    </a>
                                </div>
                            </div>
                            <nav>
                                <div class="main-navbar">
                                    <div id="mainnav">
                                        <div class="toggle-nav">
                                            <i class="fa fa-bars sidebar-bar"></i>
                                        </div>
                                        <ul class="nav-menu">
                                            <li class="back-btn d-xl-none">
                                                <div class="close-btn">
                                                    Menu
                                                    <span class="mobile-back">
                                                        <i class="fa fa-angle-left"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="home-menu">
                                                <a href="~/Home" class="nav-link menu-title">Trang chủ</a>
                                            </li>
                                            <li>
                                                <a href="~/Shop" class="nav-link menu-title">Shop</a>
                                            </li>
                                            <li>
                                                <a href="~/Home/About" class="nav-link menu-title">About Us</a>
                                            </li>
                                            <!-- <li class="mobile-poster d-flex d-xl-none">
                                                <img src="~/Content/images/pwa.png" class="img-fluid" alt="">
                                                <div class="mobile-contain">
                                                    <h5>Enjoy app-like experience</h5>
                                                    <p class="font-light">With this Screen option you can use Website
                                                        like an App.</p>
                                                    <a href="javascript:void(0)" id="installApp"
                                                        class="btn btn-solid-default btn-spacing w-100">ADD TO
                                                        HOMESCREEN</a>
                                                </div>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="menu-right">
                                <ul>
                                    <li>
                                        <div class="search-box">
                                            <i data-feather="search"></i>
                                        </div>
                                    </li>
                                    <li class="onhover-dropdown">
                                        <div class="cart-media">
                                            <i data-feather="user"></i>
                                        </div>
                                        <div class="onhover-div profile-dropdown">
                                            <ul>
                                                @if (Session["user_id"] != null)
                                                {
                                                    <li>
                                                        <a href="~/User" class="d-block">Thông tin cá nhân</a>
                                                    </li>
                                                    <li>
                                                        <a href="/User/Logout" class="d-block">Đăng xuất</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="~/User/Login" class="d-block">Đăng nhập</a>
                                                    </li>
                                                    <li>
                                                        <a href="~/User/Register" class="d-block">Đăng ký</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-dropdown cart-dropdown">
                                        <button onclick="location.href = '/Cart';" type="button" class="btn btn-solid-default btn-spacing">
                                            <i data-feather="shopping-cart" class="pe-2"></i>
                                            <span>Cart</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-full">
                                <form method="get" action="~/Shop">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="Tìm kiếm..." name="keyword" required />
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </form>
                                <div class="search-suggestion">
                                    <ul class="custom-scroll">
                                        @*<li>
                                                <div class="product-cart media">
                                                    <img src="~/Content/images/electronics/product/1.jpg"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                    <div class="media-body">
                                                        <a href="javascript:void(0)">
                                                            <h6 class="mb-1">New Smart Watch 4 ERT2</h6>
                                                        </a>
                                                        <ul class="rating p-0">
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star"></i>
                                                            </li>
                                                        </ul>
                                                        <p class="mb-0 mt-1">$28.00</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-cart media">
                                                    <img src="~/Content/images/electronics/product/5.jpg"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                    <div class="media-body">
                                                        <a href="javascript:void(0)">
                                                            <h6 class="mb-1">Powermatic 900 W Juicer</h6>
                                                        </a>
                                                        <ul class="rating m-0 p-0">
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-star theme-color"></i>
                                                            </li>
                                                        </ul>
                                                        <p class="mb-0 mt-1">$35.00</p>
                                                    </div>
                                                </div>
                                            </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    @if (!string.IsNullOrEmpty((string)ViewData["msg"]))
    {
        <script>alert(`@Html.Raw(ViewData["msg"])`);</script>
    }
    @RenderBody()

    <!-- footer start -->
    <footer class="footer-sm-space">
        <div class="main-footer">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-contact">
                            <div class="brand-logo">
                                <a href="~/Home" class="footer-logo">
                                    <svg class="svg-icon">
                                        <use class="fill-color" xlink:href="~/Content/svg/icons.svg#logo"></use>
                                    </svg>
                                    <img src="~/Content/images/logo.png" class="img-fluid blur-up lazyload" alt="logo">
                                </a>
                            </div>
                            <ul class="contact-lists">
                                <li>
                                    <span>
                                        <b>phone:</b>
                                        <span class="font-light"> 0777.xxx.449</span>
                                    </span>

                                </li>
                                <li>
                                    <span>
                                        <b>Address:</b>
                                        <span class="font-light"> Quận 9, KCN cao, TP. HCM</span>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <b>Email:</b>
                                        <span class="font-light"> asd@gmail.com</span>
                                    </span>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <div class="footer-title">
                                <h3>About us</h3>
                            </div>
                            <div class="footer-content">
                                <ul>
                                    <li>
                                        <a href="~/Home" class="font-dark">Home</a>
                                    </li>
                                    <li>
                                        <a href="~/Shop" class="font-dark">Shop</a>
                                    </li>
                                    <li>
                                        <a href="~/Home/About" class="font-dark">About Us</a>
                                    </li>
                                    <li>
                                        <a href="~/Home/Contact" class="font-dark">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row gy-3">
                    <div class="col-md-6">
                        <!-- <ul>
                            <li class="font-dark">We accept:</li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="~/Content/images/payment-icon/1.jpg" class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="~/Content/images/payment-icon/2.jpg" class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="~/Content/images/payment-icon/3.jpg" class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="~/Content/images/payment-icon/4.jpg" class="img-fluid blur-up lazyload"
                                        alt="payment icon"></a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0 font-dark">© 2022, from NoName with ♥️.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- theme Setting Start -->
    <!-- <div class="theme-setting">
        <ul>
            <li>
                <button id="darkButton" class="btn btn-sm dark-buttton">Dark</button>
            </li>
            <li>
                <button class="btn btn-sm rtl-button">RTL</button>
            </li>
            <li class="color-picker">
                <input type="color" class="form-control form-control-color" id="ColorPicker1" value="#e22454"
                    title="Choose your color">
            </li>
        </ul>
    </div> -->
    <!-- theme Setting End -->
    <!-- tap to top Section Start -->
    <div class="tap-to-top">
        <a href="#home">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <!-- tap to top Section End -->

    <div class="bg-overlay"></div>

    <!-- latest jquery-->
    <script src="~/Content/js/jquery-3.5.1.min.js"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Bootstrap js-->
    <script src="~/Content/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js-->
    <script src="~/Content/js/feather/feather.min.js"></script>

    <!-- lazyload js-->
    <script src="~/Content/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/Content/js/slick/slick.js"></script>
    <script src="~/Content/js/slick/slick-animation.min.js"></script>
    <script src="~/Content/js/slick/custom_slick.js"></script>

    <!-- add to cart modal resize -->
    <script src="~/Content/js/cart_modal_resize.js"></script>

    <!-- Add To Home js -->
    <script src="~/Content/js/pwa.js"></script>

    <!-- add to cart modal resize -->
    <script src="~/Content/js/cart_modal_resize.js"></script>

    <!-- feather icon js-->
    <script src="~/Content/js/timer1.js"></script>

    <!-- notify js -->
    @*<script src="~/Content/js/bootstrap/bootstrap-notify.min.js"></script>*@
    <script src="//rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>

    <!-- script js -->
    <script src="~/Content/js/theme-setting.js"></script>
    <script src="~/Content/js/script.js"></script>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        function numberWithDot(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
        }

        function redirectParams(name, value) {
            var url = new URL(window.location.href);
            url.searchParams.set(name, value);
            window.location.href = url.href;
        }
        //var select_option = document.getElementById('select_option');
        //try {
        //    select_option.onchange = function () {
        //        redirectParams('order_by', document.getElementById('order_by').value);
        //    };
        //} catch (e) { }
        function add_to_cart(product_id, cart_product_quantity = 1) {
            $.ajax({
                type: "POST",
                url: "/api2/Cart/Add/" + product_id + "?cart_product_quantity=" + cart_product_quantity,
                // data: q,
                success: function (result) {
                    if (result.success) $.notify("Đã thêm vào giỏ hàng!", "success");
                    else $.notify("Vui lòng đăng nhập để thêm vào giỏ hàng!", "error");
                }
            });
        }

        function add_to_cart_(product_id) {
            add_to_cart(product_id, $('#product_quantity').val());
            return false;
        }

        function update_cart(product_id, cart_product_quantity) {
            $.ajax({
                type: "POST",
                url: "/api2/Cart/Update/" + product_id + "?cart_product_quantity=" + cart_product_quantity,
                // data: q,
                success: function (result) {
                    if (result.success) {
                        $.notify("Cập nhật giỏ hàng thành công!", "success");
                        $('#product_subtotal_' + product_id).text(numberWithDot(cart_product_quantity * $('#product_price_' + product_id).data('price')) + 'đ');
                        // Cập nhật tạm tính
                        var cart_subtotal = 0;
                        $('.product_price').each(function () {
                            cart_subtotal += $(this).data("price") * $('#product_quantity_' + $(this).attr("id").replace('product_price_', '')).val();
                        });
                        $('#cart_subtotal').text(numberWithDot(cart_subtotal) + 'đ');
                    } else $.notify("Không thể cập nhật giỏ hàng!", "error");
                }
            });
        }

        function delete_from_cart(product_id) {
            if (confirm('Bạn có muốn xoá sản phẩm này khỏi giỏ hàng?'))
                $.ajax({
                    type: "POST",
                    url: "/api2/Cart/Remove/" + product_id,
                    // data: q,
                    success: function (result) {
                        if (result.success) {
                            // window.location.reload();
                            $.notify("Cập nhật giỏ hàng thành công!", "success");
                            $('#product_' + product_id).remove();
                            // Cập nhật tạm tính
                            var cart_subtotal = 0;
                            $('.product_price').each(function () {
                                cart_subtotal += $(this).data("price") * $('#product_quantity_' + $(this).attr("id").replace('product_price_', '')).val();
                            });
                            $('#cart_subtotal').text(numberWithDot(cart_subtotal) + 'đ');
                        } else $.notify("Không thể cập nhật giỏ hàng!", "error");
                    }
                });
        }
    </script>
</body>

</html>