
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutSign.cshtml";
}

<!-- Sign Up Section Start -->
<div class="login-section">
    <div class="materialContainer">
        <div class="box">
            <form method="post" action="">
                <div class="login-title">
                    <h2>Đăng ký</h2>
                </div>
                <div class="input">
                    <label for="name">Họ tên</label>
                    <input type="text" name="user_fullname" id="name" required />
                    <span class="spin"></span>
                </div>
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" name="user_email" id="email" required />
                    <span class="spin"></span>
                </div>
                <div class="input">
                    <label for="pass">Mật khẩu</label>
                    <input type="password" name="user_password" id="pass" required />
                    <span class="spin"></span>
                </div>
                <div class="input">
                    <label for="compass">Nhập lại mật khẩu</label>
                    <input type="password" name="user_repassword" id="compass" required />
                    <span class="spin"></span>
                </div>
                <div class="button login">
                    <button type="submit">
                        <span>Đăng Ký</span>
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <p class="sign-category">
                    <span>Hoặc đăng ký nhanh với</span>
                </p>
                <div class="row gx-md-3 gy-3">
                    <div class="col-md-12 centerBtn">
                        <div class="fb-login-button" data-width="400" data-size="large" data-button-type="continue_with"
                             data-auto-logout-link="false" data-use-continue-as="true" data-scope="public_profile,email"
                             data-onlogin="checkLoginState();"></div>
                    </div>
                    <div class="col-md-12 centerBtn">
                        <div id="btnGoogle"></div>
                    </div>
                </div>
                <p>Đã có tài khoản? <a href="~/User/Login" class="theme-color">Đăng nhập ngay</a></p>
            </form>
        </div>
    </div>
</div>
<!-- Sign Up Section End -->